<!-- {{data | json}}
<br />

Minion List:
<div class="row">
    <div class="col-md-6">
      
      <li *ngFor="let minion of data | keyvalue; let i = index">
        {{ i + 1 }}: {{ minion.value | json }}
      </li>
        
    </div> -->
<!-- </div> -->

<!-- <nb-card>
    <nb-card-header>
        SaltMinions
    </nb-card-header>

    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source1">
        </ng2-smart-table>
    </nb-card-body>
</nb-card> -->

<table mat-table [dataSource]="data | keyvalue" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id. </th>
      <td mat-cell *matCellDef="let element"> {{element.value.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="fqdn">
      <th mat-header-cell *matHeaderCellDef> fqdn </th>
      <td mat-cell *matCellDef="let element"> {{element.value.fqdn}} </td>
    </ng-container>
  
    <ng-container matColumnDef="osfinger">
      <th mat-header-cell *matHeaderCellDef> osfinger </th>
      <td mat-cell *matCellDef="let element"> {{element.value.osfinger}} </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell  *matHeaderCellDef > details </th>
      <td mat-cell *matCellDef="let element" > <button mat-button (click)="showdetails(element)"> details </button></td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell  *matHeaderCellDef > Actions </th>
      <td mat-cell *matCellDef="let element" >
        <!-- <button mat-button (click)="runcmd(element)">Run comand</button>  -->
        <a [routerLink]="['/pages/ext/cmd', {target:element.key}]">Run command</a>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>